@use './variables' as *;
@use './reset';

#root {
    min-height: 100vh;
    min-width: 24.375rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    margin-inline: auto;
    text-align: center;
    background-color: $background-blue-100;
  }
  
  .app {
    --primary-color: #033E81;
    --secondary-color: #F2F7FA;
    --background-color: #FFFFFF;
    --label-color:  #232629;
    --input-background: #FFFFFF;
    --input-border: #60707B;
    --input-value: #232629;
    --input-focus: #000000;
    --focus-shadow: #007bff40;
    --result-background: #FFFFFF;
    --result-value: #232629;
    
  }
  
  .app.dark {
    --primary-color: #57CAFF;
    --secondary-color: #000000;
    --background-color: #4C5961;
    --label-color: #FFFFFF;
    --input-background: #F2F7FA;
    --input-border: #57CAFF;
    --input-value: #232629;
    --input-focus: #FFFFFF;
    --focus-shadow: #007bff40;
    --result-background: #1E3C4D;
    --result-value: #FFFFFF;
  }
  header {
    grid-area: header;
    background-color: $heading-blue-700;
    padding: 1rem;
    .header-content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 $spacing-md;
        display: flex;
        justify-content: flex-end;
      }
      
      .header-actions {
        display: flex;
        gap: 1.5rem;
        font-size: 0.8rem;
        color: $gray50;
      }
      
      .action-item {
        a {
          color: $gray50;
          cursor: pointer;
          transition: color 0.3s ease;
          text-decoration: none;
      
          &:hover {
            color: $white;
            text-decoration: underline;
          }
        }
      }
 }

  main {
    margin: 0 auto;
    width: 100%;
    
    h1 {
        font-size: 1.375rem; // 22px
        text-transform: uppercase;
        color: $gray800;
        padding: $spacing-md;
      }
  }

  footer {
    grid-area: footer;
    font-size: small;
  }
