@use './variables' as *;
@use './reset';

#root {
    min-height: 100vh;
    min-width: 24.375rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    margin-inline: auto;
    text-align: center;
    background-color: var(--root-bg-color);
  }
  
  header {
    grid-area: header;
    background-color: $heading-blue-800;
    padding: 1rem;
    .header-content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 $spacing-md;
        display: flex;
        justify-content: flex-end;
      }
      
      .header-actions {
        display: flex;
        gap: 1.5rem;
        font-size: 0.8rem;
        color: $gray50;
      }
      
      .action-item {
        a {
          color: $gray50;
          cursor: pointer;
          transition: color 0.3s ease;
          text-decoration: none;
      
          &:hover {
            color: $white;
            text-decoration: underline;
          }
        }
      }
 }

  main {
    margin: 0 auto;
    width: 100%;
    
    h1 {
        font-size: 1.375rem; // 22px
        text-transform: uppercase;
        color: $gray800;
        padding: $spacing-md;
      }
  }

  footer {
    grid-area: footer;
    font-size: small;
  }
